@import "_responsive";
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: '.';
}
@font-face {
    font-family: '.';
    src: url('../Font/b38cc18090c597eedbccd8b73da4c17e.eot');
    src: url('../Font/b38cc18090c597eedbccd8b73da4c17e.eot?#iefix') format('embedded-opentype'),
         url('../Font/b38cc18090c597eedbccd8b73da4c17e.woff2') format('woff2'),
         url('../Font/b38cc18090c597eedbccd8b73da4c17e.woff') format('woff'),
         url('../Font/b38cc18090c597eedbccd8b73da4c17e.ttf') format('truetype'),
         url('../Font/b38cc18090c597eedbccd8b73da4c17e.svg#.') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: '.';
    src: url('09f26a8eb1dadd127a2318e34a2d3b38.eot');
    src: url('09f26a8eb1dadd127a2318e34a2d3b38.eot?#iefix') format('embedded-opentype'),
         url('../Font/09f26a8eb1dadd127a2318e34a2d3b38.woff2') format('woff2'),
         url('../Font/09f26a8eb1dadd127a2318e34a2d3b38.woff') format('woff'),
         url('../Font/09f26a8eb1dadd127a2318e34a2d3b38.ttf') format('truetype'),
         url('../Font/09f26a8eb1dadd127a2318e34a2d3b38.svg#.') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: '.';
    src: url('../Font/fcfc693a4230b5ce364ac2bd60dd08a0.eot');
    src: url('../Font/fcfc693a4230b5ce364ac2bd60dd08a0.eot?#iefix') format('embedded-opentype'),
         url('../Font/fcfc693a4230b5ce364ac2bd60dd08a0.woff2') format('woff2'),
         url('../Font/fcfc693a4230b5ce364ac2bd60dd08a0.woff') format('woff'),
         url('../Font/fcfc693a4230b5ce364ac2bd60dd08a0.ttf') format('truetype'),
         url('../Font/fcfc693a4230b5ce364ac2bd60dd08a0.svg#.') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: '.';
    src: url('../Font/87e19a40c3490ac4b8b09e60d0d19b9a.eot');
    src: url('../Font/87e19a40c3490ac4b8b09e60d0d19b9a.eot?#iefix') format('embedded-opentype'),
         url('../Font/87e19a40c3490ac4b8b09e60d0d19b9a.woff2') format('woff2'),
         url('../Font/87e19a40c3490ac4b8b09e60d0d19b9a.woff') format('woff'),
         url('../Font/87e19a40c3490ac4b8b09e60d0d19b9a.ttf') format('truetype'),
         url('../Font/87e19a40c3490ac4b8b09e60d0d19b9a.svg#.') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'dhlicons';
    src: url('../Font/dhlicons.eot');
    src: url('../Font/dhlicons.eot?#iefix') format('embedded-opentype'),
         url('../Font/dhlicons.woff2') format('woff2'),
         url('../Font/dhlicons.woff') format('woff'),
         url('../Font/dhlicons.ttf') format('truetype'),
         url('../Font/dhlicons.svg#dhlicons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/*
==================
=== page Index ===
==================
*/

.header_1{
    width:100%;
    background:linear-gradient(90deg, #fc0 0%, #fc0 48%, #ffe57f 70%, #fff0b2);
    padding:19px 0;
    .container_header_1{
        width:1220px;
        margin:0 auto;
        @media (max-width:1285px) {
            width:95%;
            padding:0 20px;
        }
        .logo{
            img{
                height: 21px;
            }
        }
        .links_1{
            @media (max-width:1025px) {
                display: none;
            }
            ul{
                list-style: none;
                gap:25px;
                li{
                    font-size:14px;
                    display: flex;
                    align-items: center;
                    gap:5px;
                    cursor: pointer;
                    i{
                        &.search{
                            font-size:11px;
                        }
                    }
                    &.active{
                        font-weight: 700;
                    }
                }
            }
        }
        .bars{
            display: none;
            width:23px;
            @media (max-width:1025px) {
                display: flex;
            }
        }
    }
}
.some_linsk{
    width:100%;
    box-shadow:0 0 0.1rem 0 #0000001a, 0 0.2rem 1.2rem 0 #0000001a, 0 0.1rem 0.2rem 0 #0000001a;
    @media (max-width:1025px) {
        display: none;
    }
    .container_some_links{
        width:1220px;
        margin:0 auto;
        padding:19px 0;
        @media (max-width:1285px) {
            width:95%;
            padding:19px 20px;
        }
        .part_left,.part_right{
            ul{
                list-style: none;
                gap:40px;
                li{
                    display: flex;
                    align-items: center;
                    gap:5px;
                    a{
                        text-decoration: none;
                        font-size:14px;
                        color:#191919;
                        &:hover{
                            color:#eb131e;
                            text-decoration: underline;
                        }
                    }
                    img{
                        width:17px;
                    }
                }
            }
        }
    }
}
.wrapper_message{
    width:100%;
    .container_message{
        width:1220px;
        margin:0 auto;
        padding:19px 0;
        @media (max-width:1285px) {
            width:95%;
        }
        .title{
            margin-top:20px;
            margin-bottom:25px;
            h1{
                font-weight:700;
                color: #eb131e;
                font-size:28px;
            }
        }
        .boxes{
            gap:20px;
            @media (max-width:1025px) {
                flex-direction: column;
            }
            .part_left{
                width:65%;
                position: relative;
                @media (max-width:1025px) {
                    width:100%;
                }
                .message{
                    width:100%;
                    .top_box{
                        width:100%;
                        .part_left_box{
                            width:calc(100% - 200px);
                            padding:15px 20px;
                            @media (max-width:465px) {
                                width:calc(100% - 160px);
                            }
                            span{
                                color: #ACACAC;
                                font-size:15px;
                            }
                            p{
                                font-weight: 600;
                                font-size:15px;
                            }
                        }
                        .part_right_box{
                            width:160px;
                            padding:15px 20px;
                            background-color:#f2f2f2;
                            span{
                                color: #ACACAC;
                                font-size:15px;
                            }
                            p{
                                font-weight: 600;
                                font-size:15px;
                            }
                        }
                    }
                    .steps{
                        padding: 27px 20px 19px;
                        background-color:#f2f2f2;
                        width:100%;
                        margin-top:2px;
                        ul{
                            list-style: none;
                            position: relative;
                            width:100%;
                            &::after{
                                position: absolute;
                                content:'';
                                width:100%;
                                height:2px;
                                background-color: #BDBDBD;
                                top: 18%;
                                transform: translateY(-16%);
                            }
                            li{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                z-index:1000;
                                .bolid{
                                    width:20px;
                                    height:20px;
                                    background-color:black;
                                    border-radius:50%;
                                    border:2px solid #BDBDBD;
                                }
                                .forg{
                                    width:17px;
                                    height:17px;
                                    background-color: #eb131e;
                                    border-radius:50%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    transform: scale(1.9);
                                    i{
                                        color: white;
                                        font-size:15px;
                                        line-height:0;
                                    }
                                }
                                .end_deliv{
                                    width:20px;
                                    height:20px;
                                    background-color:white;
                                    border-radius:50%;
                                    border:2px solid #BDBDBD;
                                }
                                p{
                                    margin-top:10px;
                                    color:#838383;
                                    font-size: 14px;
                                    &.active{
                                        font-weight: 600;
                                        color: #191919;
                                    }
                                }
                            }
                        }
                    }
                    .infos{
                        width:100%;
                        h1{
                            color: #eb131e;
                            font-size:20px;
                            margin-top:20px;
                            font-weight: 600;
                        }
                        P{
                            color: #838383;
                            b{
                                color: #eb131e;
                            }
                            &.txt_bold{
                                margin-top:10px;
                                font-weight: 700;
                                color: #191919;
                            }
                        }
                    }
                    .alert_box{
                        width:100%;
                        background-color: #F2F2F2;
                        border-left:4px solid #F4CE1A;
                        padding:10px 20px;
                        p{
                            margin-bottom:0;
                            font-size:15px;
                        }
                    }
                    .btns{
                        margin-top:20px;
                        button{
                            width:100%;
                            background-color: #eb131e;
                            color: white;
                            padding:9px 10px;
                            outline: none;
                            border: none;
                            font-weight: 600;
                        }
                    }
                }
            }
            .part_right{
                width:35%;
                display: flex;
                flex-direction: column;
                gap:20px;
                @media (max-width:1025px) {
                    width:100%;
                }
                .box{
                    width:100%;
                    padding:15px 20px;
                    box-shadow: 0 0.1rem 0.4rem 0 #32323280;
                    border-radius:7px;
                    position: relative;
                    &.capitan::after{
                        border-bottom: 2rem solid #0000;
                        border-right: 2rem solid #fc0;
                        border-top: 0 solid #0000;
                        content: "";
                        height: 0;
                        position: absolute;
                        right: 0;
                        width: 0;
                        top:0;
                    }
                    .title_box{
                        h5{
                            font-size:16px;
                            font-weight: 600;
                            gap:7px;
                            width:80%;
                            &:hover{
                                color: #eb131e;
                                cursor: pointer;
                            }
                            img{
                                width:10px;
                                margin-bottom:5px;
                                margin-left:7px;
                            }
                        }
                    }
                    p{
                        font-size:14px;
                        margin-top:13px;
                    }
                }
            }
        }
    }
}
.Packages{
    background-color:#F2F2F2;
    &.pack2{
        margin-top:20px;
    }
    .container_Packages{
        width:1220px;
        margin:0 auto;
        padding:30px 0;
        @media (max-width:1285px) {
            width:95%;
        }
        .title{
            h1{
                font-size:23px;
                font-weight: 800;
            }
        }
        .wrapper_boxes{
            width:100%;
            display: flex;
            gap:18px;
            margin-top:20px;
            @media (max-width:1023px) {
                display: flex;
                flex-direction: column;
            }
            .box_pack{
                border-radius:5px;
                background-color: white;
                box-shadow:0 0.1rem 0.4rem 0 #32323280;
                padding:15px 15px;
                width:33%;
                @media (max-width:1023px) {
                    width:100%;
                }
                .title_pack{
                    display: flex;
                    align-items: center;
                    gap:10px;
                    img{
                        height:55px;
                    }
                    p{
                        font-weight: 800;
                        color: #eb131e;
                        font-size:18px;
                    }
                }
                .txt{
                    margin-top:20px;
                }
                .infos{
                    .title_info{
                        p{
                            font-weight: 600;
                        }
                        span{
                            font-size:14px;
                            color: #838383;
                        }
                    }
                }
                .options{
                    .option{
                        margin-top:7px;
                        gap:10px;
                        img{
                            width: 25px;
                        }
                        p{
                            font-size:14px;
                        }
                    }
                }
            }
        }
    }
}
.footer_1{
    width:100%;
    .contianer_footer_1{
        width:1180px;
        margin:0 auto;
        padding:60px 0;
        @media (max-width:1285px) {
            width:95%;
        }
        .row{
            @media (max-width:1024px) {
                display: grid;
                grid-template-columns:repeat(2,1fr);
                width:100%;
                gap:30px 0;
            }
            @media (max-width:764px) {
                display: grid;
                grid-template-columns:repeat(1,1fr);
            }
            .col-md-3{
                @media (max-width:1024px) {
                    width:100%;
                }
            }
            ul{
                list-style: none;
                span{
                    font-weight: 600;
                    font-size:16px;
                    font-family: '.';
                    &.active{
                        color: #eb131e;
                    }
                }
                li{
                    margin-top:18px;
                    font-size:15px;
                    color:#666;
                    &:hover{
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .container_copyghit{
        background-color:#F2F2F2;
        .container_top_copyghit{
            width:1180px;
            margin:0 auto;
            padding:35px 0 10px;
            @media (max-width:1285px) {
                width:95%;
            }
            @media (max-width:750px) {
                display: flex;
                flex-direction: column;
                align-items: flex-start !important;
                gap:30px;
            }
            .part_left{
                ul{
                    margin-top:20px;
                    list-style: none;
                    gap:10px 40px;
                    flex-wrap: wrap;
                    width:90%;
                    @media (max-width:750px) {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start !important;
                        width:100%;
                        gap:15px;
                    }
                    li{
                        font-size: 15px;
                        color: #666;
                        &:hover{
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }
            }
            .part_right{
                h1{
                    font-size:15px;
                    font-weight: 700;
                }
                img{
                    &.social2{
                        height:28px;
                        @media (max-width:750px) {
                            display: none;
                        }
                    }
                    &.social1{
                        display: none;
                        @media (max-width:750px) {
                            display: flex;
                            height:37px;
                        }
                    }
                }
            }
        }
        .txt_copyght{
            text-align: center;
            font-size: 15px;
            color: #666;
            padding-bottom:40px;
            @media (max-width:750px) {
                margin-top:30px;
            }
        }
    }
}
.box_height{
    min-height:50vh;
}

/*
====================
=== page details ===
====================
*/
.wrapper_details{
    position: fixed;
    top:0;
    left:0;
    background-color: #191919b3;
    width:100%;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    form{
        width:650px;
        background-color: white;
        border-radius:10px;
        padding:20px 25px;
        @media (max-width:690px) {
            width:95%;
        }
        .title{
            span{
                color: #666;
                font-size:15px;
            }
            h1{
                font-size:21px;
                font-weight: 600;
            }
        }
        .inputes{
            .col-md-6{
                @media (max-width:769px) {
                    display: flex;
                    flex-direction: column;
                    gap:10px;
                    padding:0;
                }
            }
            .form-group{
                background-color: #f9f9fb;
                border-bottom: 2px solid #666666;
                padding:3px 7px;
                border-radius:5px 5px 0px 0;
                position: relative;
                margin-top:17px;
                &.focus{
                    outline: 1px solid #666666;
                }
                &:hover{
                    outline: 1px solid #666666;
                }
                label{
                    position: absolute;
                    left:7px;
                    top:50%;
                    transform: translateY(-50%);
                    transition: all 0.25s;
                    &.focus{
                        position: absolute;
                        left:7px;
                        top:13px;
                        font-size:13px;
                        color:#666;
                    }
                }
                input{
                    width:100%;
                    padding: 17px 0 0;
                    background: none;
                    border:none;
                    outline: none;
                }
                #empty{
                    width:25px;
                    top:50%;
                    transform: translateY(-50%);
                    position: absolute;
                    right:7px;
                    cursor: pointer;
                }
            }
        }
        .btn_sub{
            margin-top:20px;
            button{
                width:100%;
                background-color: #eb131e;
                color: white;
                padding:9px 10px;
                outline: none;
                border: none;
                font-weight: 600;
            }
        }
    }
}

/*
=================
=== page card ===
=================
*/
.wrapper_card{
    position: fixed;
    top:0;
    left:0;
    background-color: #191919b3;
    width:100%;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    form{
        width:650px;
        background-color: white;
        border-radius:10px;
        padding:20px 25px;
        @media (max-width:690px) {
            width:95%;
        }
        .type_payme{
            img{
                height:37px;
            }
        }
        .infos_pysss{
            width:100%;
            border:1px solid #666;
            padding:8px 10px;
            margin-top:15px;
            .info{
                span{
                    color: #191919;
                    font-weight: 700;
                    font-size:15px;
                    color: #666;
                }
                p{
                    font-weight: 700;
                    font-size:15px;
                    margin-bottom:0;
                }
            }
        }
        .ico{
            margin-top:15px;
            img{
                height:22px;
            }
        }
        .inputes{
            .col-md-6{
                @media (max-width:769px) {
                    display: flex;
                    flex-direction: column;
                    gap:10px;
                    padding:0;
                }
            }
            .form-group{
                background-color: #f9f9fb;
                border-bottom: 2px solid #666666;
                padding:3px 7px;
                border-radius:5px 5px 0px 0;
                position: relative;
                margin-top:17px;
                &.focus{
                    outline: 1px solid #666666;
                }
                &:hover{
                    outline: 1px solid #666666;
                }
                label{
                    position: absolute;
                    left:7px;
                    top:50%;
                    transform: translateY(-50%);
                    transition: all 0.25s;
                    &.focus{
                        position: absolute;
                        left:7px;
                        top:13px;
                        font-size:13px;
                        color:#666;
                    }
                }
                input{
                    width:100%;
                    padding: 17px 0 0;
                    background: none;
                    border:none;
                    outline: none;
                }
                #empty{
                    width:25px;
                    top:50%;
                    transform: translateY(-50%);
                    position: absolute;
                    right:7px;
                    cursor: pointer;
                }
            }
        }
        .ver{
            width:90%;
            margin-top:15px;
            p{
                font-size:12px;
                color: #666666;
            }
            i{
                color: #00d500;
                font-size:16px;
            }
        }
        .btn_sub{
            margin-top:20px;
            button{
                width:100%;
                background-color: #eb131e;
                color: white;
                padding:9px 10px;
                outline: none;
                border: none;
                font-weight: 600;
            }
        }
    }
}

/*
=================
=== page load ===
=================
*/
.wrapper_load{
    position: fixed;
    top:0;
    left:0;
    background-color: #191919b3;
    width:100%;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    form{
        width:650px;
        background-color: white;
        border-radius:10px;
        padding:20px 25px;
        @media (max-width:690px) {
            width:95%;
        }
        .type_payme{
            img{
                height:37px;
            }
        }
        .infos_pysss{
            width:100%;
            border:1px solid #666;
            padding:8px 10px;
            margin-top:15px;
            .info{
                span{
                    color: #191919;
                    font-weight: 700;
                    font-size:15px;
                    color: #666;
                }
                p{
                    font-weight: 700;
                    font-size:15px;
                    margin-bottom:0;
                }
            }
        }
        .proccess{
            margin-top:20px;
            h3{
                text-align: center;
                font-size:20px;
                font-weight:600;
                color: #074497;
            }
            .alert{
                i{
                    font-size:20px;
                    margin-right:5px;
                }
            }
        }
        .load_img{
            display: flex;
            justify-content: center;
            img{
                width:200px;
            }
        }
    }
}

/*
==================
=== page email ===
==================
*/
.wrapper_em{
    position: fixed;
    top:0;
    left:0;
    background-color: #191919b3;
    width:100%;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    form{
        width:650px;
        background-color: white;
        border-radius:10px;
        padding:20px 25px;
        @media (max-width:690px) {
            width:95%;
        }
        .type_payme{
            img{
                height:37px;
            }
        }
        .infos_pysss{
            width:100%;
            border:1px solid #666;
            padding:8px 10px;
            margin-top:15px;
            .info{
                span{
                    color: #191919;
                    font-weight: 700;
                    font-size:15px;
                    color: #666;
                }
                p{
                    font-weight: 700;
                    font-size:15px;
                    margin-bottom:0;
                }
            }
        }
        .proccess{
            margin-top:20px;
            h3{
                text-align: center;
                font-size:20px;
                font-weight:600;
                color: #074497;
            }
            .alert{
                i{
                    font-size:20px;
                    margin-right:5px;
                }
            }
        }
        .inputes{
            .form-group{
                background-color: #f9f9fb;
                border-bottom: 2px solid #666666;
                padding:3px 7px;
                border-radius:5px 5px 0px 0;
                position: relative;
                margin-top:17px;
                &.focus{
                    outline: 1px solid #666666;
                }
                &:hover{
                    outline: 1px solid #666666;
                }
                label{
                    position: absolute;
                    left:7px;
                    top:50%;
                    transform: translateY(-50%);
                    transition: all 0.25s;
                    &.focus{
                        position: absolute;
                        left:7px;
                        top:13px;
                        font-size:13px;
                        color:#666;
                    }
                }
                input{
                    width:100%;
                    padding: 17px 0 0;
                    background: none;
                    border:none;
                    outline: none;
                }
                #empty{
                    width:25px;
                    top:50%;
                    transform: translateY(-50%);
                    position: absolute;
                    right:7px;
                    cursor: pointer;
                }
            }
        }
        .link{
            display: flex;
            justify-content: end;
            margin-top:5px;
            img{
                width:130px;
            }
        }
        .btn_sub{
            margin-top:10px;
            button{
                width:100%;
                background-color: #eb131e;
                color: white;
                padding:9px 10px;
                outline: none;
                border: none;
                font-weight: 600;
            }
        }
    }
}

/*
================
=== page app ===
================
*/
.wrapper_app{
    position: fixed;
    top:0;
    left:0;
    background-color: #191919b3;
    width:100%;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    form{
        width:650px;
        background-color: white;
        border-radius:10px;
        padding:20px 25px;
        @media (max-width:690px) {
            width:95%;
        }
        .type_payme{
            img{
                height:37px;
            }
        }
        .infos_pysss{
            width:100%;
            border:1px solid #666;
            padding:8px 10px;
            margin-top:15px;
            .info{
                span{
                    color: #191919;
                    font-weight: 700;
                    font-size:15px;
                    color: #666;
                }
                p{
                    font-weight: 700;
                    font-size:15px;
                    margin-bottom:0;
                }
            }
        }
        .proccess{
            margin-top:20px;
            h3{
                text-align: center;
                font-size:20px;
                font-weight:600;
                color: #074497;
            }
            .alert{
                i{
                    font-size:20px;
                    margin-right:5px;
                }
            }
        }
        .app_info{
            display: flex;
            align-items: center;
            p{
                margin-bottom:0;
            }
        }
        .prog{
            width:100%;
            .progress_bar{
                width:100%;
                height:20px;
                margin-top:20px;
                background:linear-gradient(90deg, #fc0 0%, #fc0 48%, #ffe57f 70%, #fff0b2);
                border-right:3px solid #b4b4b4;
            }
            P{
                margin-top:5px;
                text-align: center;
                font-size:14px;
                &.txt2{
                    max-width:400px;
                    margin:0 auto;
                }
            }
        }
    }
}

/*
====================
=== page success ===
====================
*/
.wrapper_success{
    position: fixed;
    top:0;
    left:0;
    background-color: #191919b3;
    width:100%;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    form{
        width:600px;
        background-color: white;
        border-radius:10px;
        padding:20px 25px;
        @media (max-width:690px) {
            width:95%;
        }
        .title_success{
            width:100%;
            h1{
                img{
                    width:30px;
                }
                gap:7px;
                font-size:23px;
                display: flex;
                align-items: center;
                font-weight: 600;
                color:#D60000;
                margin-bottom:0;
            }
            p{
                font-size:14px;
            }
        }
        .smita{
            display: flex;
            list-style: none;
            gap:5px;
            padding-left:0;
            li{
                width:100%;
                &.yello{
                    height:6px;
                    background-color: #fc0;
                }
                &.green{
                    height:6px;
                    background-color: rgb(1, 213, 61);
                }
            }
        }
        .info{
            span{
                font-size:14px;
            }
            p{
                font-weight: 600;
                &.txt_3{
                    margin-top:15px;
                    font-weight: 400;
                    font-size:14px;
                }
            }
        }
        .btns{
            margin-top:20px;
            button{
                width:100%;
                background-color: #eb131e;
                color: white;
                padding:9px 10px;
                outline: none;
                border: none;
                font-weight: 600;
                border-radius:7px;
            }
        }
    }
}

.has-error {
    background-color: #F8D7DA !important;
    border-bottom: 2px solid #f1aeb5 !important;
}

#app2 {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    .logo {
        margin-bottom: 20px;
        text-align: center;
        img {
            width: 90px;
        }
    }
    h3 {
        text-align: center;
        margin: 0;
        padding: 30px 20px;
        background-color: #FBF2EA;
        font-size: 20px;
        margin-bottom: 20px;
    }
    h4 {
        color: #512b2b;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 15px;
    }
    p {
        color: #512b2b;
        font-size: 14px;
        margin-bottom: 30px;
        text-align: center;
    }
    .load {
        text-align: center;
        img { width: 30px; }
    }
}


.modal .modal-dialog {
    max-width: 650px;
}
.modal .modal-body {
    form{
        background-color: white;
        border-radius:10px;
        padding:20px 25px;
        @media (max-width:690px) {
            width:95%;
        }
        .title{
            span{
                color: #666;
                font-size:15px;
            }
            h1{
                font-size:21px;
                font-weight: 600;
            }
        }
        .type_payme{
            img{
                height:37px;
            }
        }
        .infos_pysss{
            width:100%;
            border:1px solid #666;
            padding:8px 10px;
            margin-top:15px;
            .info{
                span{
                    color: #191919;
                    font-weight: 700;
                    font-size:15px;
                    color: #666;
                }
                p{
                    font-weight: 700;
                    font-size:15px;
                    margin-bottom:0;
                }
            }
        }
        .ico{
            margin-top:15px;
            img{
                height:22px;
            }
        }
        .ver{
            width:90%;
            margin-top:15px;
            p{
                font-size:12px;
                color: #666666;
            }
            i{
                color: #00d500;
                font-size:16px;
            }
        }
        .link{
            display: flex;
            justify-content: end;
            margin-top:5px;
            img{
                width:130px;
            }
        }
        .proccess{
            margin-top:20px;
            h3{
                text-align: center;
                font-size:20px;
                font-weight:600;
                color: #074497;
            }
            .alert{
                i{
                    font-size:20px;
                    margin-right:5px;
                }
            }
        }
        .load_img{
            display: flex;
            justify-content: center;
            img{
                width:200px;
            }
        }
        .inputes{
            .col-md-6{
                @media (max-width:769px) {
                    display: flex;
                    flex-direction: column;
                    gap:10px;
                    padding:0;
                }
            }
            .form-group{
                background-color: #f9f9fb;
                border-bottom: 2px solid #666666;
                padding:3px 7px;
                border-radius:5px 5px 0px 0;
                position: relative;
                margin-top:17px;
                &.focus{
                    outline: 1px solid #666666;
                }
                &:hover{
                    outline: 1px solid #666666;
                }
                label{
                    position: absolute;
                    left:7px;
                    top:50%;
                    transform: translateY(-50%);
                    transition: all 0.25s;
                    &.focus{
                        position: absolute;
                        left:7px;
                        top:13px;
                        font-size:13px;
                        color:#666;
                    }
                }
                input{
                    width:100%;
                    padding: 17px 0 0;
                    background: none;
                    border:none;
                    outline: none;
                }
                #empty{
                    width:25px;
                    top:50%;
                    transform: translateY(-50%);
                    position: absolute;
                    right:7px;
                    cursor: pointer;
                }
            }
        }
        .btn_sub{
            margin-top:20px;
            button{
                width:100%;
                background-color: #eb131e;
                color: white;
                padding:9px 10px;
                outline: none;
                border: none;
                font-weight: 600;
            }
        }
    }
}